
<h3><em>Welcome to the swiss corporation</em></h3> 


<img src="http://www.tagblatt.ch/storage/org/7/2/2/1067227_0_94d0c09c.jpg?version=1313673874" width="100%"/>



<!--  <div id="article-modal" class="modal hide fade"></div> -->