/*footer-logo img {
    background: url("//s.ytimg.com/yts/imgbin/www-hitchhiker-vflbKBZkj.png") no-repeat scroll 0 -1494px rgba(0, 0, 0, 0);
    height: 30px;
    vertical-align: middle;
    width: 72px;
}*/

// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
